* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background: #4169e1;
    /* Remover quando colocar a img*/
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #4169e1;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.nav-bar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.nav-bar a:hover,
a.active {
    color: aqua;

}

.home {
    height: 100vh;
    /* background: url('img') no-reapeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-container {
    max-width: 600px;
}

.home-container h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-container h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #4169e1;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}

.home-container h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: aquamarine;
}
.home-container h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #4169e1;
    animation: showRight 1s ease forwards;
    animation-delay: .1.3s;
}

.home-container p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-container p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #4169e1;
    animation: showRight 1s ease forwards;
    animation-delay: .1.6s;
}

.home-icon {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #4169e1;
    animation: showRight 1s ease forwards;
    animation-delay: .2.4s;
    z-index: 2;
}

.home-icon a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aquamarine;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-icon a:hover {
    color: #081b29;
}

.home-icon a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: aquamarine;
    z-index: -1;
    transition: .5s;

}

.home-icon a:hover::before {
    width: 100%;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}